.R*
*DESeq.zfs.*.grcz10.RData
plots/*
topgo/*
.Rproj.user
Danio_rerio.*
ZF-Paralogues.pearson.tsv
e85.maxStageClusters.gene_counts.tsv
dataFiles/one-to-one-paralogues*
dataFiles/AllGenes.85.biomart.tsv
dataFiles/rnaseq/chr4_ZnF.uniq.txt
dataFiles/detct/zfs-detct-grcz10.tsv
dataFiles/rnaseq/zfs-rnaseq-grcz10.tsv
*DS_Store*
workspace.RData
regionalExpression.PFAM.tsv
pdb_pfam_mapping.txt
